<div class="card">
    <div class="card-content">
        <table>
            <tbody>
                <div class="divider"></div>
                <tr>
                    <td class="td-label"><b>Full Name</b></td>
                    <td>{{user.name}}</td>
                </tr>
                <tr>
                    <td><b>Job Title</b></td>
                    <td>{{job_title}}</td>
                </tr>
                <tr>
                    <td><b>About</b></td>
                    <td>{{about}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>