<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
    <div class="sidebar">
        <div class="sidebar-wrapper">
            <img class="user-pic" src=".">
            <div class="signature">
                <img class="sig-pic" src=".">
            </div>
            <div class="menu">
                <ul class="nav">
                    <li>Profile</li>
                    <li>Education</li>
                    <li>Work Experience</li>
                    <li>Skills</li>
                    <li>Hobbies</li>
                </ul>
            </div>
        </div>
    </div>
    </main>
    {{{ body }}}
</body>
</html>