        <div class="profile">
            
            <div class="div-wrapper">
                <div class="profile row">
                    <h5>About</h5>
                    <form class="col-s12 create-about-form">
                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="full-name" class="validate">
                                <label for="full-name">Name</label>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="job-title" class="validate">
                                <label for="job-title">Job Title</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="about" class="validate">
                                <label for="about">About</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="phone" class="validate">
                                <label for="phone">Phone</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="country" class="validate">
                                <label for="country">Country</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="city" class="validate">
                                <label for="city">City</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="linkedin" class="validate">
                                <label for="linkedin">LinkedIn</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="github" class="validate">
                                <label for="github">GitHub</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="profile row">
                    <h5>Education</h5>
                    <form class="col-s12 create-education-form">
                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="school" class="validate">
                                <label for="school">School</label>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="course" class="validate">
                                <label for="course">Course</label>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="grad-date" class="validate">
                                <label for="grad-date">Graduation Date</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            

            <div class="div-wrapper-two">

                <div class="profile row">
                    <h5>Work</h5>
                    <form class="col-s5 create-work-form">
                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="role" class="validate">
                                <label for="role">Job Role</label>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="company" class="validate">
                                <label for="company">Company</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="job-location" class="validate">
                                <label for="job-location">Location</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="start-date" class="validate">
                                <label for="start-date">Start Date</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="end-date" class="validate">
                                <label for="end-date">End Date</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="job-description" class="validate">
                                <label for="job-description">Job Description</label>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="profile row">
                    <h5>Projects</h5>
                    <form class="col-s5 create-project-form">
                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="project-title" class="validate">
                                <label for="project-title">Project Title</label>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="repository" class="validate">
                                <label for="repository">Repository</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s9">
                                <input type="text" id="project-description" class="validate">
                                <label for="project-description">Project Description</label>
                            </div>
                        </div>
                    </form>
                    <div class="buttons">
                        <button type="submit" class="btn profile-btn">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>

                
            </div>
        </div>

<scrpit src="javascript/create.js"></scrpit>