<div class="post-input">
    <a href="/dashboard" class="dashboard-back">&larr; Back to Dashboard</a>
    <h2 class="title-create">Please Insert Your Info</h2>

    <form class="create-form">
        <div class="port-name">
            <label for="name">Name:</label>
            <input type="text" id="name" class="name" name="name" placeholder="">
        </div>

        <div class="port-job">
            <label for="job_title">Job Title:</label>
            <input type="text" id="job_title" class="job_title" name="job_title" placeholder="">
        </div>

        <div class="port-about">
            <label for="about">About:</label>
            <input type="text" id="about" class="about" name="about" placeholder="">
        </div>

        <button type="submit" class="btn publish-btn">Publish</button>
    </form>
</div>

<script src="/javascript/createPost.js"></script>