<div class="post-input">
    <a href="/dashboard" class="dashboard-back">&larr; Back to Dashboard</a>
    <h2 class="title-create">Please Insert Your Info</h2>

    <form class="container create-form">
        <div class="row port-name">
            <label for="name">Full Name:</label>
            <input type="text" id="name" class="name" name="name">
        </div>

        <div class="row port-job_title">
            <label for="job_title">Job tittle:</label>
            <input type="text" id="job_title" class="job_title" name="job_title">
        </div>

        <div class="row port-about">
            <label for="about">About:</label>
            <input type="text" id="about" class="about" name="about">
        </div>

        <div class="row port-project_name">
            <label for="project_name">Project Name:</label>
            <input type="text" id="project_name" class="project_name" name="project_name" placeholder="Project Name">
        </div>

        <div class="row port-project_desc">
            <label for="project_desc">Project Name:</label>
            <input type="text" id="project_desc" class="project_desc" name="project_desc" placeholder="Project description">
        </div>

        <div class="row port-school_name">
            <label for="school_name">School Name:</label>
            <input type="text" id="school_name" class="school_name" name="school_name">
        </div>

        <div class="row port-graduation">
            <label for="graduation">Graduation date:</label>
            <input type="text" id="graduation" class="graduation" name="graduation">
        </div>

        <div class="row port-degree">
            <label for="degree">Degree:</label>
            <input type="text" id="degree" class="degree" name="degree">
        </div>

        <div class="row port-workExp">
            <label for="workExp">Job Title:</label>
            <input type="text" id="workExp" class="workExp" name="workExp">
        </div>

        <div class="row port-empDate">
            <label for="empDate">Employemet date:</label>
            <input type="text" id="empDate" class="empDate" name="empDate">
        </div>

        <div class="row port-jobDesc">
            <label for="jobDesc">Job description:</label>
            <input type="text" id="jobDesc" class="jobDesc" name="jobDesc">
        </div>


        <div class="row port-phone">
            <label for="phone">Phone:</label>
            <input type="text" id="phone" class="phone" name="phone">
        </div>

        <div class="row port-email">
            <label for="email">Email:</label>
            <input type="text" id="email" class="email" name="email">
        </div>


        <div class="row port-github">
            <label for="github">Github:</label>
            <input type="text" id="github" class="github" name="github">
        </div>


        <button type="submit" class="btn publish-btn">Publish</button>
    </form>
</div>

<script src="/javascript/createPost.js"></script>