<div class="post-input">
    <a href="/dashboard" class="dashboard-back">&larr; Back to Dashboard</a>
    <h2 class="title-edit">Edit Blog Post</h2>

    <form class="container m-0 edit-post">
        <div class=" row port-name">
            <label for="name">Name:</label>
            <input type="text" name="name" class="name" value="{{post.name}}">
        </div>

        <div class="row port-job">
            <label for="job_title">Job Title:</label>
            <input type="text" name="job_title" class="job-title" value="{{post.job_title}}">
        </div>

        <div class="row port-about">
            <label for="about">About:</label>
            <input type="text" name="about" class="about" value="{{post.about}}">
        </div>

        
        <div class="port-github">
            <label for="github">Github:</label>
            <input type="text" name="github" class="github" value="{{post.github}}">
        </div>



        <button type="submit" class="btn publish-btn">Save Changes</button>
    </form>
</div>

<script src="/javascript/editPost.js"></script>
