<!-- Background image -->
  <div class="p-5 text-center bg-image hero-image">
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Welcome to The Port Resort</h1>
          <h4 class="mb-3">Designed to create the perfect portfolio for you!</h4>
          <a class="btn btn-outline-light btn-lg" href="/signup" role="button">Get Started</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->