<div class="homepage">
    <div class="container">
    <h1 class="text-center">Welcome to the portfolio generator</h1>
    <p>a simple app web page showing prompting you with questions to fill out to build you're very own portfolio</p>
    </div>
    <a href="/signup"> <button class="btn"> </button> </a>
</div>