<div class="login">
    <h2 class="title-login">Login:</h2>
    <form class="login-form">
        <div class="email">
            <label for="email-login">Email:</label>
            <input type="text" id="email-login" />
        </div>

        <div class="password">
            <label for="password-login">Password:</label>
            <input type="password" id="password-login" />
        </div>

        <div class="login-action">
            <button type="submit" class="btn login-btn">Login</button>
            <a href="/signup"><button class="btn signup-btn">Sign-Up</a>
        </div>
    </form>
</div>

<script src="javascript/login.js"></script>