<div class="login">
    <form class="container login-form">
        <div class="row col-3 email" id="email">
            <h2 class=" title-login">Login</h2>
            <label for="email-login">Email:</label>
            <input type="text" id="email-login"/>
        </div>

        <div class="row col-3 password" id="password">
            <label for="password-login">Password:</label>
            <input type="password" id="password-login"/>
        </div>

        <div class="row col-3 login-action" id="login-action">
            <button type="submit" class="btn text-center login-btn" id="login-btn">Login</button>
            <p>Not a member?</p><a href="/signup" id="sign-up" class="text-center"> Sign-Up</a>
        </div>
    </form>
</div>

<script src="javascript/login.js"></script>