
 <div class="login row">
            <form class="col-s12 login-form">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" id="email-login" class="validate">
                        <label for="email-login">Email</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" id="password-login" class="validate">
                        <label for="password-login">Password</label>
                    </div>
                </div>
            </form>
</div>

<div class="buttons-profile">
        <button type="submit" class="btn login-btn"><a href="/login">Login</a></button>
        <button type="submit" class="btn login-btn"><a href="/login">Sign up</a></button>
</div>