
 <div class="login row">
            <form class="col-s12 login-form">
                <div class="row">
                    <div class="input-field col s6">
                        <label for="email-login">Email</label>
                        <input type="text" id="email-login">
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input type="password" id="password-login" class="validate">
                        <label for="password-login">Password</label>
                        <input type="password" id="password-login">
                    </div>
                </div>

            <div class="login-action">
        <button type="submit" class="btn login-btn">Login</button>
        <button type="submit" class="btn login-btn"><a href="/signup">Sign up</a></button>
            </div>

            </form>
</div>


<script src="javascript/login.js"></script>