<div class="p-5 text-center bg-image hero-image">
    <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <div class="sign-up">
                    <form class="container signup-form d-flex justify-content-center align-items-center flex-column login-form">
                        <div class="row col-10 email" id="email">
                            <h2 class=" title-login">Login</h2>
                            <label for="email-login">Email</label>
                            <input type="text" id="email-login" />
                        </div>

                        <div class="row col-10 password" id="password">
                            <label for="password-login">Password</label>
                            <input type="password" id="password-login" />
                        </div>

                        <div class="row col-3 login-action" id="login-action">
                            <button type="submit" class="btn text-center signup-btn" id="login-btn">Login</button>
                            <a href="/signup" id="sign-up" class="text-center btn signup-btn"> Sign-Up</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="javascript/login.js"></script>