<section id="profile">
    <div class="profile-background">
        <div class="profile-wrapper">
            <div class="section-title">
                <h2>
                    <span>01</span>
                    About Me
                </h2>
            </div>
            <h1>Hello, my name is {{post.name}}</h1>
            <h4> I am a {{post.job_title}}</h4>
            <p>{{post.about}}</p>
        </div>
    </div>
</section>

<section id="education">
    <div class="education-background">
        <div class="education-wrapper">
            <div class="section-title">
                <h2>
                    <span>02</span>
                    Education
                </h2>
            </div>
            <!-- Repeat as necessary -->
            <div class="education-box">
                <div>
                    <i></i>
                </div>
            <h3>Place</h3>
            <span>Years</span>
            <p>What I did</p>
            </div> 
        </div>
    </div>
</section>

<section id="work">
    <div class="work-background">
        <div class="work-wrapper">
            <div class="section-title">
                <h2>
                    <span>03</span>
                    Work Experience
                </h2>
            </div>
            <!-- Repeat as necessary -->
            <div class="work-box">
                <div>
                    <i></i>
                </div>
            <h3>Place</h3>
            <span>Years</span>
            <p>What I did</p>
            </div> 
        </div>
    </div>
</section>

<section id="skills">
    <div class="skills-background">
        <div class="skills-wrapper">
            <div class="section-title">
                <h2>
                    <span>04</span>
                    Skills
                </h2>
            </div>
            <!-- Repeat as necessary -->
            <div class="skills-box">
                <div>
                    <i></i>
                </div>
            <h3>Place</h3>
            <span>Years</span>
            <p>What I did</p>
            </div> 
        </div>
    </div>
</section>

<section id="hobbies">
    <div class="hobbies-background">
        <div class="hobbies-wrapper">
            <div class="section-title">
                <h2>
                    <span>05</span>
                    Hobbies
                </h2>
            </div>
            <!-- Repeat as necessary -->
            <div class="hobbies-box">
                <div>
                    <i></i>
                </div>
            <h3>Place</h3>
            <span>Years</span>
            <p>What I did</p>
            </div> 
        </div>
    </div>
</section>