<div class="profile">
    <div class="profile-header">

        <h2>{{user.name}}</h2>
    </div>

    {{#if portfolio.length}}
        {{#each portfolio as |portfolio|}}
            <div class="profile-port">
                {{> port-info portfolio}}
                <button type="submit" class="btn profile-btn"><a href="/profile/edit/{{portfolio.id}}"> Edit Info</a></button>
                <button type="submit" class="btn profile-btn">View Profile</button>
            </div>
        {{/each}}

        {{else}}
        <h4>No user information added.</h4>
        <button type="submit" class="btn profile-btn"><a href="/profile/create"> Create Portfolio</a></button>

    {{/if}}
</div>