       <div class="profile">    
        <div class="profile-header">
            <h2>{{user.name}}</h2>
            {{#if portfolio.[0]}}
         <button type="submit" class="btn profile-btn"><a href="/profile/create"> Create Portfolio</a></button>
         <h4>No information submitted</h4>
        </div>
       </div>
       {{else}}
       {{#each portfolio as |portfolio|}}
       <div class="profile-port">
        {{> port-info portfolio}}
        <button type="submit" class="btn profile-btn"><a href="/profile/edit/{{portfolio.id}}"> Edit Info</a></button>
       </div>
        {{/each}}
        {{/if}}
        <button type="submit" class="btn profile-btn">View Profile</button>
