<div class="login">
    <h2 class="title-login">Login:</h2>
    <form class="signup-form">
        <div class="name">
            <label for="name-signup">Name:</label>
            <input type="text" id="name-signup" />
        </div>

        <div class="github">
            <label for="github-signup">Github Username:</label>
            <input type="text" id="github-signup" />
        </div>

        <div class="email">
            <label for="email-login">Email:</label>
            <input type="text" id="email-signup" />
        </div>

        <div class="password">
            <label for="password-login">Password:</label>
            <input type="password" id="password-signup" />
        </div>

        <div class="login-action">
            <button type="submit" class="btn signup-btn">Sign-Up</button>
        </div>
    </form>
</div>

<script src="javascript/signup.js"></script>