<div class="login row">
    <form class="col-s12 signup-form">
        <div class="row ">
            <div class="input-field col s6 full-name">
                <input type="text" id="full-name-signup" class="validate">
                <label for="full-name-signup">Full Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6 email">
                <input type="text" id="email-signup" class="validate">
                <label for="email-signup">Email</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6 password">
                <input type="password" id="password-signup" class="validate">
                <label for="password-signup">Password</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6 github">
                <input type="text" id="github-signup" class="validate">
                <label for="github-signup">GitHub</label>
            </div>
        </div>
        
        <div class="login-action">
                <button type="submit" class="btn signup-btn">Sign up</button>
        </div>
    </form>
</div>


<script src="javascript/signup.js"></script>