
body {
    background-color: rgb(215, 215, 215);
    background-size: 44.5rem;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    height: 100vh;
}

hero {
    height: 7rem;
    background:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar {
    height: 5rem;
    margin-left: auto;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.title {
    font-family: monospace;
    font-size: 3rem;
    font-weight: 700;
    color: #be3374;
    margin-top: 6.5rem;
}

.img {
    background-size: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    height: 12rem;
    width: auto;
}


a,
p,
button {
    color: #26204e;
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
}

#logout{ 
    font-size: 1.5rem;
}

#email,
#password,
#login-action {
    margin-left: 30rem;
}

.title-login{
    margin-left: 6rem;
    font-size: 3rem;
}

#sign-up {
    font-size: 1rem;
}
#login-btn {
    font-size: 1rem;
}

.signup-form{
    margin-left: 50rem;
}

.title-sign{
    margin-left: 4rem;
    font-size: 3rem;
}

#signup-data{
    margin-left: 6rem;
}
/* .card {
    margin-top: 2rem;
} */

